body {
  color: #40514E;
  font-family: 'Cardo', serif;
  font-size-adjust: 0.5;
  margin: 0;
  text-align: center;
}

h1 {
  color: #112d4e;
  font-family: 'Boogaloo', cursive;
  font-size: 3.5rem;
  line-height: 1;
  margin: 30px auto;
  width: 50%;
}

h2, h3 {
  color: #3f72af;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 2.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.25;
}

p {
  font-size: 1.25rem;
  line-height: 2;
}

hr {
  border: dotted #f9f7f7 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}


/* Headlines*/
.headline {
  color: #112d4e;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0 auto;
  width: 50%;
}

.skills {
  padding-top: 100px;
}

.skill-row {
  margin: 100px auto;
  width: 55%;
  text-align: justify;
}

.my-photo {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.top-container {
  background-color: #3f72af;
  background-image: url("../images/1.png");
  padding: 100px 0;
}

.middle-container {
  background-color: #dbe2ef;
  /* background-color: #f9f7f7*/
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #3f72af;
  padding: 30px 0 20px;
}

/* Icons & buttons */
.icons-left {
  float: left;
  margin-right: 30px;
  width: 200px;
}

.icons-right {
  float: right;
  margin-left: 30px;
  width: 200px;
}

.spanish-flag {
  height: 30px;
  width: 30px;
  margin: 0;
}

.contact-message {
  font-size: 1.25rem;
  margin: 40px auto 60px;
  width: 80%;
}

.fab {
  color: #dbe2ef;
  font-size: 2rem;
  margin: 10px 20px;
  border-radius: 50%;
}

.fab:hover {
  color: #3a92ff;
}

.btn {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #112d4e);
  background-image: -moz-linear-gradient(top, #3cb0fd, #112d4e);
  background-image: -ms-linear-gradient(top, #3cb0fd, #112d4e);
  background-image: -o-linear-gradient(top, #3cb0fd, #112d4e);
  background-image: linear-gradient(to bottom, #3cb0fd, #112d4e);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2974a3;
  background-image: -webkit-linear-gradient(top, #73c3f5, #3f8fc4);
  background-image: -moz-linear-gradient(top, #73c3f5, #3f8fc4);
  background-image: -ms-linear-gradient(top, #73c3f5, #3f8fc4);
  background-image: -o-linear-gradient(top, #73c3f5, #3f8fc4);
  background-image: linear-gradient(to bottom, #73c3f5, #3f8fc4);
  text-decoration: none;
}


.copyright p {
  color: #dbe2ef;
  font-size: 0.8rem;
  padding: 20px 0 0 0;
  line-height: 0;

}

.copyright a {
  color: #dbe2ef;
  text-decoration: none;
}

.copyright a:hover {
  color: #3a92ff;
}

@media (max-width: 56.25rem) {
  h1 {
    font-size: 3rem;
    line-height: 1.05;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  p {}

  .headline {
    font-size: 1.5rem;
  }

  .my-photo {
    height: 200px;
    width: 200px;
  }

  .icons-left {
    float: left;
    margin-right: 20px;
    width: 150px;
  }

  .icons-right {
    float: right;
    margin-left: 20px;
    width: 150px;
  }

  .fab {
    font-size: 1.33rem;
  }

  .skill-row {
    width: 70%;
  }
  .btn{
    font-size: 1.4rem;
  }
}

@media (max-width: 43.75rem) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }

  h2 {
    font-size: 1.625rem;
    line-height: 1.15384615;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.13636364;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.75;
  }

  .headline {
    font-size: 1.3rem;
  }

  .my-photo {
    height: 150px;
    width: 150px;
  }

  .icons-left {
    float: left;
    margin-right: 10px;
    width: 100px;
  }

  .icons-right {
    float: right;
    margin-left: 10px;
    width: 100px;
  }

  .fab {
    font-size: 1.3rem;
  }

  .skill-row {
    width: 80%;
  }

  .btn{
    font-size: 1.3rem;
  }
}
